{% extends 'main.html'%}

{% load static %}

{% block content %}
<script>
    let empty_icon_url = "{% static 'images/rocket.png' %}";
</script>

<div class="d-flex flex-grow-1 sidebar-layout h-100 overflow-hidden">
    <aside id="sidebar" class="h-100">
        <div class="offcanvas-lg offcanvas-start h-100" tabindex="-1" id="offcanvasResponsive"
            aria-labelledby="offcanvasResponsiveLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasResponsiveLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss='offcanvas'
                    data-bs-target='#offcanvasResponsive' aria-label="close" id="closeOffcanvasBtn"></button>
            </div>
            <div id='offcanvasBody' class="offcanvas-body pt-lg-4 px-lg-3 vstack h-100 overflow-hidden">
                <div class="container-fluid pb-2 hstack">
                    <h1 class="me-2 my-0">Your lists</h1>
                    <a class="ms-auto fs-5 icon-link text-decoration-none" data-bs-toggle="modal"
                        data-bs-target="#createListModal"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                        </svg>New list</a>

                </div>
                <div class="d-flex container overflow-auto">
                    <div class="nav nav-pills w-100 d-flex" id="lists-wrapper">
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <main class="d-flex flex-grow-1 flex-column p-0 m-0 h-100 overflow-hidden">
        <div class="hstack mb-2 pt-4 px-3">
            <a class="me-2 d-lg-none icon-link fs-1 offcanvas-toggler" data-bs-toggle="offcanvas"
                aria-controls="offcanvasResponsive" data-bs-target="#offcanvasResponsive">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-list"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg>
            </a>
            <h1 class="m-0 d-block text-truncate" id="listTitleHeading">{{selected_list.title}}</h1>
            <a class="ms-auto icon-link fs-2" data-bs-toggle="modal" data-bs-target="#createTaskModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                    class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                </svg>
            </a>
        </div>
        <div class="d-flex flex-grow-1 flex-column overflow-auto">
            <div class="container-fluid p-0 px-3" id="tasks-wrapper">
            </div>
        </div>
    </main>


    <!-- Modals -->
    <!-- Create List Modal -->
    <div class="modal" id="createListModal" tabindex="-1" aria-labelledby="createListModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Create new list</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating">
                        <input id="createListTitleInput" class="form-control" name='list-name' placeholder="name"
                            required />
                        <label for="createListTitleInput">List name</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                        id="createListModalSubmitBtn">Create</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete List Modal-->
    <div class="modal" id="deleteListModal" tabindex="-1" aria-labelledby="deleteListLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-danger">Delete List</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="delete-list-modal-message" class="m-0"></p>
                    <br>
                    <p class="m-0">This cannot be undone!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="deleteListModalSubmitBtn">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Task Modal-->
    <div class="modal" id="deleteTaskModal" tabindex="-1" aria-labelledby="deleteTaskLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-danger">Delete Task</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="delete-task-modal-message" class="m-0"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="deleteTaskModalSubmitBtn">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Create task Modal -->
    <div class="modal" id="createTaskModal" tabindex="-1" aria-labelledby="createTaskModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Create new task</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-2">
                        <input id="createTaskTitleInput" class="form-control" name='task-name' placeholder="name"
                            required />
                        <label for="createTaskTitleInput">Task name</label>
                    </div>
                    <div class="form-floating">
                        <textarea id="createTaskDescriptionInput" class="form-control" name='task-description'
                            placeholder="description" style="height: 100px;"></textarea>
                        <label for="createTaskDescriptionInput">Task description</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                        id="createTaskModalSubmitBtn">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/todo.js' %}"></script>
{% endblock content %}
